<a href="https://colab.research.google.com/github/Devansharma/Flight_Price_Prediction/blob/master/Flight_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
train_df = pd.read_excel('/Data_Train.xlsx')
test_df = pd.read_excel('/Test_set.xlsx')
train_df.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

In [5]:
df = train_df.append(test_df, sort=False)

In [9]:
df.tail()

                Airline Date_of_Journey  ... Additional_Info Price
2666          Air India       6/06/2019  ...         No info   NaN
2667             IndiGo      27/03/2019  ...         No info   NaN
2668        Jet Airways       6/03/2019  ...         No info   NaN
2669          Air India       6/03/2019  ...         No info   NaN
2670  Multiple carriers      15/06/2019  ...         No info   NaN

[5 rows x 11 columns]

In [7]:
df.shape

(13354, 11)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [13]:
df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

In [20]:
df.head()

       Airline    Source Destination  ... Date Month  Year
0       IndiGo  Banglore   New Delhi  ...   24     3  2019
1    Air India   Kolkata    Banglore  ...    1     5  2019
2  Jet Airways     Delhi      Cochin  ...    9     6  2019
3       IndiGo   Kolkata    Banglore  ...   12     5  2019
4       IndiGo  Banglore   New Delhi  ...    1     3  2019

[5 rows x 13 columns]

In [18]:
df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
dtype: object

In [17]:
df['Date']=df['Date'].astype(int)
df['Month']=df['Month'].astype(int)
df['Year']=df['Year'].astype(int)

In [19]:
df = df.drop(['Date_of_Journey'],axis=1)

In [22]:
df['Arrival_Time'] = df['Arrival_Time'].str.split(' ').str[0]

In [26]:
df[df['Total_Stops'].isnull()]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Dep_Time, Arrival_Time, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year]
Index: []

In [25]:
df['Total_Stops']=df['Total_Stops'].fillna('1 stop')

In [27]:
df['Total_Stops']=df['Total_Stops'].replace('non-stop','0 stop')

In [28]:
df['Stop'] = df['Total_Stops'].str.split(' ').str[0]

In [29]:
df['Stop'] = df['Stop'].astype(int)

In [30]:
df = df.drop(['Total_Stops'],axis=1)

In [35]:
df.head()

       Airline    Source Destination  ... Stop Arrival_Hour Arrival_Minute
0       IndiGo  Banglore   New Delhi  ...    0            1             10
1    Air India   Kolkata    Banglore  ...    2           13             15
2  Jet Airways     Delhi      Cochin  ...    2            4             25
3       IndiGo   Kolkata    Banglore  ...    1           23             30
4       IndiGo  Banglore   New Delhi  ...    1           21             35

[5 rows x 14 columns]

In [32]:
df['Arrival_Hour'] = df['Arrival_Time'].str.split(':').str[0]
df['Arrival_Minute'] = df['Arrival_Time'].str.split(':').str[1]

In [33]:
df['Arrival_Hour'] = df['Arrival_Hour'].astype(int)
df['Arrival_Minute'] = df['Arrival_Minute'].astype(int)

In [34]:
df = df.drop(['Arrival_Time'], axis=1)